{% extends 'front/base.html' %}
{% load static %}
{% block content %}
<div class="wrapper">
    <div class="parallax filter-black">
        <div class="parallax-image">
            <img src="{% static 'front/img/thumb.jpg'%}">
        </div>
        <div class="small-info">
            <h1>About Us</h1>
            <h3></h3>
        </div>
    </div>

    <div class="section">
           <div class="container">
               <h2 class="section-title"></h2>
               <div class="row">
                   <div class="col-6">
                       <p>Halo teman semua, apa kabar anda hari ini? Semoga selalu sehat dan dalam perlindungan-Nya.

                        Pertama kali kami ucapkan selamat datang kepada para netizen yang budiman. ini kami buat sengaja untuk menyediakan informasi dan menjadi referensi anda untuk mencari berita terbaru dari berbagai wilayah di Indonesia maupun dari Mancanegara.
                        
                        Dalam pembuatan atau penulisan artikel mungkin terdapat kesalahan dan kekhilafan, maka dari itu kami meminta masukan dan saran dari para pembaca sekalian untuk kemajuan dan perkembangan website ini.
                        
                        Harapan kami, dengan adanya website ini bisa membantu anda mendapatkan info terbaru dan terkini. Bagi anda yang ingin berbagi ide kami akan menerima artikel tulisan anda. Sehingga teman lainnya bisa mengetahui perkembangan berita terbaru.
                        
                        Semoga bermanfaat untuk anda. Nikmati hari-hari anda!
                        
                        Regards
                         </p>

                   </div>
                     <div class="col-md-6">
                       <p>
               </div>
           </div>
    </div><!-- section -->

    <div class="section">
        <div class="container">
            <h2 class="section-title"><small></small></h2>
            <div class="team-presentation">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-user card-plain">
                            <div class="content">
                                <div class="author">
                                    <a href="#">
                                    </h4>
                                    </a>
                                </div>
                            </div>
                        </div> <!-- end card-->
                    </div>
                    <div class="col-md-4">
                        <div class="card card-user card-plain">
                            <div class="content">
                                <div class="author">
                                    <a href="#">
                                        <img class="avatar border-gray" src="{% static 'front/img/zenul.jpg'%}" alt="..."/>
                                        <h4 class="title">Muhammmad Zainul Ihsan<br />
                                            <small>Founder</small>
                                        </h4>
                                    </a>
                                </div>
                                <p class="description text-center">
                                    <i class="fa fa-map-marker fa-fw text-muted"></i> Hallo, Saya Muhammad Zainul Ihsan | Wartawan dari Samarinda, Kalimamntan Timur <br/>
                                    <i class="fa fa-building-o fa-fw text-muted"></i> Blogger | Wartawan | <br/>
                                    <i class="fa fa-envelope-o fa-fw text-muted"></i> HeadlinesNews.com
                                </p>
                            </div>
                            <hr>
                            <div class="text-center">
                                <button href="#" class="btn btn-social btn-facebook btn-simple"><i class="fa fa-facebook-square"></i></button>
                                <button href="#" class="btn btn-social btn-twitter btn-simple"><i class="fa fa-twitter"></i></button>
                            </div>
                        </div> <!-- end card -->
                    </div>
                    <div class="col-md-4">
                        <div class="card card-user card-plain">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end section meet our team -->

     <div class="section">
        <div class="container">
            <h2 class="section-title">Our Office</h2>
            <div class="row">
                <div class="col-md-4">
                        <div class="card card-plain">
                        <div class="image">
                            <img src="{% static 'front/img/thumb.jpg'%}" alt="..."/>
                            <div class="filter">
                                <button type="button" class="btn btn-neutral btn-simple">
                                    <i class="fa fa-image"></i> View Image
                                </button>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>
                <div class="col-md-8">
                        <div class="card card-plain">
                        <div class="image">
                            <img src="{% static 'front/img/thumb.jpg'%}" alt="..."/>
                            <div class="filter">
                                <button type="button" class="btn btn-neutral btn-simple">
                                    <i class="fa fa-image"></i> View Image
                                </button>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>
                <div class="col-md-8">
                        <div class="card card-plain">
                        <div class="image">
                            <img src="{% static 'front/img/thumb.jpg'%}" alt="..."/>
                            <div class="filter">
                                <button type="button" class="btn btn-neutral btn-simple">
                                    <i class="fa fa-image"></i> View Image
                                </button>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>

                <div class="col-md-4">
                        <div class="card card-plain">
                        <div class="image">
                            <img src="{% static 'front/img/thumb.jpg'%}" alt="..."/>
                            <div class="filter">
                                <button type="button" class="btn btn-neutral btn-simple">
                                    <i class="fa fa-image"></i> View Image
                                </button>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>

                <div class="col-md-4">
                        <div class="card card-plain">
                        <div class="image">
                            <img src="{% static 'front/img/thumb.jpg'%}" alt="..."/>
                            <div class="filter">
                                <button type="button" class="btn btn-neutral btn-simple">
                                    <i class="fa fa-image"></i> View Image
                                </button>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>
                <div class="col-md-4">
                        <div class="card card-plain">
                        <div class="image">
                            <img src="{% static 'front/img/thumb.jpg'%}" alt="..."/>
                            <div class="filter">
                                <button type="button" class="btn btn-neutral btn-simple">
                                    <i class="fa fa-image"></i> View Image
                                </button>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>
                <div class="col-md-4">
                        <div class="card card-plain">
                        <div class="image">
                            <img src="{% static 'front/img/thumb.jpg'%}" alt="..."/>
                            <div class="filter">
                                <button type="button" class="btn btn-neutral btn-simple">
                                    <i class="fa fa-image"></i> View Image
                                </button>
                            </div>
                        </div>
                    </div> <!-- end card -->
                </div>


            </div>
        </div>
    </div> <!-- end section meet our clients -->

     <div class="subscribe-line subscribe-line-default">
             <div class="container">
                <div class="row">
                     <div class="col-md-9">
                        <form class="">
                             <div class="form-group">
                                  <input type="text" value="" class="form-control" placeholder="Enter your email here...">
                             </div>
                         </form>
                     </div>
                     <div class="col-md-3">
                         <button type="button" class="btn btn-info btn-fill btn-block">Join our team!</button>
                     </div>
                </div>
             </div>
         </div>

    <footer class="footer footer-black">
            <div class="container">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="social-area pull-right">
                    <a class="btn btn-social btn-facebook btn-simple">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a class="btn btn-social btn-twitter btn-simple">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-social btn-pinterest btn-simple">
                        <i class="fa fa-pinterest"></i>
                    </a>
                </div>
                <div class="copyright">
                    &copy; 2016 <a href="http://www.creative-tim.com">Creative Tim</a>, made with love
                </div>
            </div>
        </footer>


</div> <!-- wrapper -->
</body>
{% endblock content %}
    