{% extends 'front/base.html' %}
{% load static %}
{% block content %}
<div class="wrapper">
    <div class="parallax filter-black">
        <div class="parallax-image">
            <img src="{% static 'front/img/Headlines New.jpg'%}" alt="..." />
        </div>
        <div class="small-info">
            <h1>Headlines New</h1>
            <h3>Info berita terbaru hari ini baik peristiwa, kecelakaan, kriminal, hukum, berita unik, Politik, dan liputan khusus di Indonesia dan Internasional.</h3>
        </div>
    </div>

    <div class="section section-description">
           <div class="container">
               <h2 class="section-title"></h2>

               <div class="row">
                    <div class="col-md-6">
                       <h5></h5>
                       <p> News (berita) mengandung kata new yang berarti baru. Secara singkat sebuah berita adalah sesuatu yang baru yang diketengahkan bagi khalayak pembaca.</p>

                   </div>
                   <div class="col-md-6">
                        <div id="description-carousel" class="carousel fade" data-ride="carousel">
                              <!-- Wrapper for slides -->
                              <div class="carousel-inner">
                                <div class="item active">
                                  <img src="{% static 'front/img/thumb.jpg'%}" alt="..." />
                                </div>
                                <div class="item">
                                  <img src="{% static 'front/img/thumb.jpg'%}" alt="..." />
                                </div>
                                <div class="item">
                                  <img src="{% static 'front/img/thumb.jpg'%}" alt="..." />
                                </div>
                              </div>

                              <ol class="carousel-indicators">
                                <li data-target="#description-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#description-carousel" data-slide-to="1"></li>
                                <li data-target="#description-carousel" data-slide-to="2"></li>
                              </ol>
                        </div>
                   </div>
                </div>

                <div class="space-50"></div>
                <hr>
                <div class="space-50"></div>

                <div class="row">
                   <div class="col-md-6">
                      <div class="img-container">
                          <img src="{% static 'front/img/thumb.jpg'%}" alt="..." />
                      </div>
                   </div>
                   <div class="col-md-6">
                       <h5></h5>
                       <p>Up to date, dapat melakukan upgrade (pembaharuan) suatu informasi atau berita dari waktu ke waktu dan dimana saja, tidak melulu menggunakan bantuan komputer, tetapi fasilitas teknologi pada handphone (telepon genggam) atau lebih spesifik dengan kata smart phone (telpon genggam yang telah memiliki fasilitas teknologi internet). Hal ini terjadi karena media online memiliki proses penyajian informasi/berita yang lebih mudah dan sederhana.</p>

                   </div>
               </div>
           </div>
    </div><!-- section -->
    <div class="space-50"></div>
    <div class="section section-features-1">
        <div class="container">
            <h2 class="section-title">Kenapa Harus Headline News<small></small></h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="info">
                         <div class="icon">
                             <i class="pe-7s-clock"></i>
                         </div>
                         <div class="description">
                             <h5> More Efficient </h5>
                             <p class="text-muted">Salah satu keuntungan dari headline news adalah lebih efisien. Biasanya informasi di koran atau majalah harus menunggu beberapa hari untuk bisa dinikmati. Hal ini dikarenakan melalui proses penerbitan dan penjualan. Sementara berita online hanya menunggu diakses oleh situs saja.</p>
                         </div>
                     </div>
                  </div>
                   <div class="col-md-4">
                    <div class="info">
                         <div class="icon">
                             <i class="pe-7s-scissors"></i>
                         </div>
                         <div class="description">
                             <h5> Actuality </h5>
                             <p class="text-muted"> Media daring memuat informasi aktual, karena mudah dan cepat dalam menyajikannya.</p>
                         </div>
                     </div>
                  </div>
                  <div class="col-md-4">
                    <div class="info">
                         <div class="icon">
                             <i class="pe-7s-science"></i>
                         </div>
                         <div class="description">
                             <h5> Update </h5>
                             <p class="text-muted">Pembaruan berita bisa dilakukan dengan cepat, baik dari sisi konten maupun redaksional.</p>
                         </div>
                     </div>
                  </div>
            </div>
        </div>
 </div><!-- section -->   

 <div class="section section-testimonials">
     <div class="container">
         <h2 class="section-title">What people think</h2>
          <div id="testimonials-carousel" class="carousel slide" data-ride="carousel">
               <!-- Wrapper for slides -->
               <div class="carousel-inner">
                 <div class="item active">
                   <div class="row">
                         <div class="col-md-6">
                              <div class="card card-plain">
                                 <div class="content">
                                     <a target="_blank" href="http://www.creative-tim.com/product/get-shit-done-pro">
                                         <h4 class="title">Headlines New membantu banget buat dapat informasi terbaru.</h4>
                                     </a>
                                      <div class="footer">
                                         <div class="author">
                                             <a class="card-link" href="#">
                                                <span> Sandy </span>
                                             </a>
                                         </div>
                                     </div>
                                 </div>
                             </div> <!-- end card -->
                          </div>
                          <div class="col-md-6">
                              <div class="card card-plain">
                                 <div class="content">
                                         <h4 class="title">Terima Kasih Headlines News, karena kita tidak perlu takut ketinggalan berita lagi.
                                         </h4>

                                      <div class="footer">
                                         <div class="author">
                                             <a class="card-link" target="_blank" href="https://twitter.com/tudorvintilescu">
                                                <span> Rafi </span>
                                             </a>
                                         </div>
                                     </div>
                                 </div>
                             </div> <!-- end card -->
                          </div>
                     </div> <!-- end row -->
                 </div>
                 <div class="item">
                   <div class="row">
                       <div class="col-md-6">
                             <div class="card card-plain">
                                 <div class="content">
                                     <a target="_blank" href="">
                                         <h4 class="title">Walaupun ga ada tv di rumah tenang Headlines News solusi nya. </h4>
                                     </a>
                                      <div class="footer">
                                         <div class="author">
                                             <a class="card-link" target="_blank" href="http://www.awwwards.com/">
                                                <span> Rendi </span>
                                             </a>
                                         </div>
                                     </div>
                                 </div>
                             </div> <!-- end card -->
                          </div>
                          <div class="col-md-6">
                              <div class="card card-plain">
                                 <div class="content">
                                     <a target="_blank" href="http://www.creative-tim.com/product/get-shit-done-pro">
                                         <h4 class="title">SIngkat, Padat dan Jelas.</h4>
                                     </a>
                                      <div class="footer">
                                         <div class="author">
                                             <a class="card-link" target="_blank" href="#">
                                                <span> Joni </span>
                                             </a>
                                         </div>
                                     </div>
                                 </div>
                             </div> <!-- end card -->
                          </div>

                   </div>
                 </div>
               </div>

               <!-- Controls -->
               <a class="left carousel-control" href="#testimonials-carousel" data-slide="prev">
                 <span class="fa fa-angle-left"></span>
               </a>
               <a class="right carousel-control" href="#testimonials-carousel" data-slide="next">
                 <span class="fa fa-angle-right"></span>
               </a>
         </div>
     </div>
 </div>

  <div class="social-line">
      <div class="container">
         <div class="row">
              <div class="col-md-3">
                  <a href="" class="btn btn-round btn-fill btn-social btn-facebook">
                      <i class="fa fa-facebook-square"></i> Facebook
                  </a>
              </div>
               <div class="col-md-3">
                  <a href="" class="btn btn-round btn-fill btn-social btn-twitter">
                      <i class="fa fa-twitter"></i> Twitter
                  </a>
              </div>
               <div class="col-md-3">
                  <a href="" class="btn btn-round btn-fill btn-social btn-google">
                      <i class="fa fa-google-plus-square"></i> Google+
                  </a>
              </div>
              <div class="col-md-3">
                  <a href="" class="btn btn-round btn-fill btn-social btn-pinterest">
                      <i class="fa fa-pinterest"></i> Pinterest
                  </a>
              </div>
         </div>
      </div>
  </div>


 <footer class="footer footer-big">
     <!-- .footer-black is another class for the footer, for the transparent version, we recommend you to change the url of the image with your favourite image.          -->

     <div class="container">
         <div class="row">
             <div class="col-md-2">
                 <h5 class="title">Company</h5>
                 <nav>
                     <ul>
                         <li>
                             <a href="#" >
                                 Home
                             </a>
                         </li>
                         <li>
                             <a href="#">
                                Find offers
                             </a>
                         </li>
                         <li>
                             <a href="#">
                                 Discover Projects
                             </a>
                         </li>
                         <li>
                             <a href="#">
                                 Our Portfolio
                             </a>
                         </li>
                         <li>
                             <a href="#">
                                 About Us
                             </a>
                         </li>
                     </ul>
                 </nav>
             </div>
             <div class="col-md-3 col-md-offset-1">
                 <h5 class="title"> Support</h5>
                 <nav>
                     <ul>
                         <li>
                             <a href="#">
                                Contact Us
                             </a>
                         </li>
                         <li>
                             <a href="#">
                                How it works
                             </a>
                         </li>
                         <li>
                             <a href="#">
                                24/7 Available
                             </a>
                         </li>
                         <li>
                             <a href="#">
                                We are hiring
                             </a>
                         </li>
                         <li>
                             <a href="#">
                                Send Info
                             </a>
                         </li>
                     </ul>
                 </nav>
             </div>
             <div class="col-md-3">
                 <h5 class="title"> Help</h5>
                 <nav>
                     <ul>
                         <li>
                             <a href="#">
                                Contact Us
                             </a>
                         </li>
                         <li>
                             <a href="#">
                                 Terms & Conditions
                             </a>
                         </li>
                         <li>
                             <a href="#">
                                 Company Policy
                             </a>
                         </li>
                         <li>
                             <a href="#">
                                Money Back
                             </a>
                         </li>
                     </ul>
                 </nav>

             </div>

              <div class="col-md-3">
                 <h5 class="title">Latest News</h5>
                 <nav>
                     <ul>
                         <li>
                             <a href="#" >
                                <i class="fa fa-twitter"></i> <b>Get Shit Done</b>
                                The best kit in the market is here, just give it a try and let us...
                                <hr class="hr-small">
                             </a>
                         </li>
                         <li>
                               <a href="#" >
                                <i class="fa fa-twitter"></i>
                                We've just been featured on <b> Awwwards Website</b>! Thank you everybody for...
                             </a>
                         </li>

                     </ul>
                 </nav>
             </div>

         </div>
         <hr />
         <div class="copyright">
             &copy; 2016 Creative Tim, made with love
         </div>
     </div>
 </footer>


</div> <!-- wrapper -->


</div> <!-- wrapper -->
{% endblock content %}
<div class="wrapper">
    <div class="parallax filter-black">
        <div class="parallax-image">
            <img src="{% static 'front/img/thumb.jpg'%}" alt="..." />
        </div>
        <div class="small-info">
            <h1>Creative Tim</h1>
            <h3>Creative Tim stands for everything a designer looks in his work: clean and beautiful interfaces for great products.</h3>
        </div>
    </div>

    <div class="section section-description">
           <div class="container">
               <h2 class="section-title">Description</h2>

               <div class="row">
                    <div class="col-md-6">
                       <h5>Easy to integrate</h5>
                       <p>
                           Creative Tim stands for everything a designer looks in his work: clean, functions interfaces for great products. The number of friends with similar attitude can only increase over time, since the vision for a better web is a wish of many designers. </p>
                        </p>Be sure to enroll and browse around for anything that may bring extra value to your project and ask Tim wherever you see something missing. </p>

                   </div>
                   <div class="col-md-6">
                        <div id="description-carousel" class="carousel fade" data-ride="carousel">
                              <!-- Wrapper for slides -->
                              <div class="carousel-inner">
                                <div class="item active">
                                  <img src="{% static 'front/img/thumb.jpg'%}" alt="..." />
                                </div>
                                <div class="item">
                                  <img src="{% static 'front/img/thumb.jpg'%}" alt="..." />
                                </div>
                                <div class="item">
                                  <img src="{% static 'front/img/thumb.jpg'%}" alt="..." />
                                </div>
                              </div>

                              <ol class="carousel-indicators">
                                <li data-target="#description-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#description-carousel" data-slide-to="1"></li>
                                <li data-target="#description-carousel" data-slide-to="2"></li>
                              </ol>
                        </div>
                   </div>
                </div>

                <div class="space-50"></div>
                <hr>
                <div class="space-50"></div>

                <div class="row">
                   <div class="col-md-6">
                      <div class="img-container">
                          <img src="{% static 'front/img/thumb.jpg'%}" alt="..." />
                      </div>
                   </div>
                   <div class="col-md-6">
                       <h5>Fast Development</h5>
                       <p>
                           Creative Tim stands for everything a designer looks in his work: clean, functions interfaces for great products. The number of friends with similar attitude can only increase over time, since the vision for a better web is a wish of many designers. </p>
                        </p>Be sure to enroll and browse around for anything that may bring extra value to your project and ask Tim wherever you see something missing. </p>

                   </div>
               </div>
           </div>
    </div><!-- section -->
    <div class="space-50"></div>


