{% extends 'back/base.html' %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <form class="form-horizontal" method="POST">
                        {% csrf_token %}
                        <div class="card-header">
                            <h4 class="card-title">
                                {{title}}
                            </h4>
                        </div>
                        <div class="card-content">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Nama</label>
                                <div class="col-md-9">
                                    <input type="text" name="nama"placeholder="Masukan nama" class="form-control" value={{artikel.nama}}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Judul</label>
                                <div class="col-md-9">
                                    <input type="text" name="judul" class="form-control" value={{artikel.judul}}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Body</label>
                                <div class="col-md-9">
                                    <textarea name="body" id="" cols="30" rows="10" class ="form-control">{{artikel.body}}</textarea>                  
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Kategori</label>
                                <div class="col-md-9">
                                    <select name="kategori" class="selectpicker" data-style="btn btn-danger btn-block" title="Pilih kategori" data-size="7">
                                        {% for k in kategori  %}
                                        <option value="{{k.nama}}">{{k.nama}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <div class="form-group">
                                <label class="col-md-3"></label>
                                <div class="col-md-9">
                                    <button type="submit" class="btn btn-fill btn-info">
                                        Simpan
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div> <!-- end card -->
            </div> <!--  end col-md-6  -->
        </div>
</div>
{% endblock content %}