{% extends 'back/base.html' %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <form class="form-horizontal" method="POST">
                        {% csrf_token %}
                        <div class="card-header">
                            <h4 class="card-title">
                                {{title}}
                            </h4>
                        </div>
                        <div class="card-content">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Nama</label>
                                <div class="col-md-9">
                                    <p>{{artikel.nama}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Judul</label>
                                <div class="col-md-9">
                                    <p>{{artikel.judul}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Body</label>
                                <div class="col-md-9">
                                    <p>{{artikel.body}}</p>                 
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Kategori</label>
                                <div class="col-md-9">
                                    <p>{{artikel.kategori}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <div class="form-group">
                                <label class="col-md-3"></label>
                                <div class="col-md-9">
                                    <a class="bt btn btn-info" href="{% url 'table_artikel' %}">Back </a>  
                                </div>
                            </div>
                        </div>
                    </form>
                </div> <!-- end card -->
            </div> <!--  end col-md-6  -->
        </div>
</div>
{% endblock content %}